player-connection-mode=Listen
player-connection-guid=989496579
player-connection-debug=0
player-connection-project-name=VirtualMeet
player-connection-ip=192.168.9.88
player-connection-ip=172.30.240.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7184551b7bb046a9a28f0538169e8ea0
