VirtualMeet/Logs/
VirtualMeet/Temp/
VirtualMeet/Library/PackageCache/
VirtualMeet/Library/ShaderCache/
VirtualMeet/Library/SlpashScreenCache/
VirtualMeet/Library/StateCache/
VirtualMeet/Library/BurstCache/
VirtualMeet/Library/PlayerDataCache/
VirtualMeet/Library/Bee/CachedNodeOutput/
VirtualMeet/Library/Artifacts
.DS_Store
Build/
**/obj/*